<app-functional>
  <div class="header">Сертифікати</div>
  <div class="container">
    <p>Отримувати подарунки завжди приємно, але ще приємніше їх дарувати. Бажано, щоб сюрприз був особливим ї надавав яскраві емоції та враження.
    Для творчої особистості організувати цікаве і незвичне свято дуже просто. Розкрийте близькій людині безмежний світ живопису.Для цього достатньо замість класичного дарунку замовити сертифікат на майстер-клас. Подарунковий сертифікат – це позитивні емоції отримані в процесі майстер-класу, а також приємний спогад у вигляді написаної картини.
    В наш час подарункові сертифікати на майстер-класи стали дуже популярними, адже це зручно. Отримувач може сам вирішити, які заняття йому до вподоби, та обрати зручний для себе час, оскільки сертифікат має тривалий термін дії (3 місяці).</p>
    <p>Завдяки Вашому подарунку власник сертифіката отримає:</p>
    <ul>
      <li>позитивні емоції;</li>
      <li>можливість розкрити творчий потенціал, втілити свої мрії;</li>
      <li>маленький шедевр, створений своїми руками.</li>
    </ul>
    <p>Ви можете зробити індивідуальний подарунок, вибрати сертифікат для сім’ї або невеликої компанії. Сертифікат також стане подарунком дітям на Новий рік, Різдво, чи, наприклад, жінкам на 8 Березня від люблячих колег.</p>
    <p>Як придбати подарункові сертифікати на майстер-класи?</p>
    <p>Подарунковий сертифікат можна придбати у мене в студії, або в електронному вигляді.
    Ми пропонуємо сертифікати на будь-який майстер-клас вартістю від 450 грн.
    Не втрачайте можливість зробити приємне близькій людині, родичам чи колегам. Ваш подарунок запам’ятається надовго!</p>
  </div>
</app-functional>
