button {
  float: right;
  z-index: 3;
  position: absolute;
  top: 2em;
  right: 2em;
}

.material-icons {
  line-height: unset;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 100%;
    background-color: rgba(243, 243, 245, 0.9);
  }

  mat-sidenav-content {
    background-color: #F3F3F5;
    overflow: hidden;
  }
}
