button {
  float: right;
  margin: 2em;
  z-index: 3;
}

.material-icons {
  line-height: unset;
}

mat-sidenav-container {
  height: 100%;

  mat-sidenav {
    width: 100%;
    background-color: rgba(243, 243, 245, 0.9);
  }

  mat-sidenav-content {
    background-color: #F3F3F5;    
  }
}