<app-functional>
  <div class="header">Популярні Запитання</div>
  <div class="container">
    <div fullpage id="fullpage" (ref)="getRef($event)" #fullpageRef>
      <div class="section">
        <div class="question">Яка ціна?</div>
        <div class="answer">
          Ціни на МК: (олійні,акрилові) фарби:
          полотно 30*30 - 450 грн
          полотно 30*40 - 550 грн
          полотно 35*45 - 600 грн
          полотно 40* 50 - 650 грн

          Ціни на Арт-пікнік:
          полотно 30*30 - 550 грн
          полотно 30*40 - 650 грн
          полотно 35*45 - 700 грн
          полотно 40* 50 - 750 грн

          Ціна із своїми фарбами – договірна.

          МК із розпису джинсовки, футболки, сумки - 650 грн

          Акварель – 300 грн
          Ілюстраційний ланч в @barmaglot (акварель) - 450 грн. (Сюди входить вартість сніданку і кави)

          МК по алкогольним чорнилам - 1200 грн

          Fluid-art (рідкий акрил) - 600 грн.
        </div>
      </div>
      <div class="section">
        <div class="question">Як записатись на МК?</div>
        <div class="answer">Просто написати мені:relaxed: Я обов‘язково відповім у вільний час і ми зможемо домовитись про дату і час...</div>
      </div>
      <div class="section">
        <div class="question">Яка тривалість МК?</div>
        <div class="answer">Тривалість МК олійними фарбами, акрилом, розпис тканини - 4 години.

          FLUID ART - 3 години.

          Акварель, алкогольні чорнила - 3 години.

          Це час максимальний, в інших випадках вже просто не буде чого робити, або ж ви стомитесь. Концентація уваги вже не та, що нам потрібно і закінчити роботу вже важко.

          Коли великий формат чи багато деталей в роботі, тоді картину пишемо за 2 МК і оплачуємо додатково.
      </div>
      </div>
      <div class="section">
        <div class="question">Потрібно щось брати додатково на МК?</div>
        <div class="answer">Ні!) Всі матеріали входять у вартість! :wink: Тільки хороший настрій і віра в те, що 4 години пройдуть в кайф і все вийде!</div>
      </div>
      <div class="section">
        <div class="question">Підходить МК тим, хто зовсім не вміє малювати?</div>
        <div class="answer">Так, так, так і ще раз так!!! Ми не просто вчимось малювати, ми відкриваємо свій творчий потенціал, розслабляємось чи навпаки концентуємось на своїх думках!! Ми наповнюємось енергією, яка буде позитивно впливати на всі інші сфери нашого життя!</div>
      </div>
    </div>
  </div>
</app-functional>
