.header {
  width: 100%;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.container {
  margin: 0 auto;
  width: 60%;
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;

  .question {
    font-size: 1.2em;
    text-align: center;
    margin: 2em;
  }
}
