<div class="header">Інформація</div>
<div class="container">
  <p>Всім привіт! Я Іра – художник, засновник студії «Tarasivna Art». І я знаю, що написати картину може кожен,
    адже ми всі народжені митцями.</p>
  <p>У моїй студії я вчу виходити за рамки та відкривати для себе світ творчості та свободи, роблю мистецтво
    доступним, не забуваючи про художні якості та рівень навичок і знань, які отримають учні на майстер-класах.
  </p>
  <p>Моя мрія – це створення такого творчого простору, в якому можна було б вільно взаємодіяти і
    художнику-викладачу, і учню, де б не звертали увагу на рівень вмінь, вік та статус. Де б в першу чергу
    звертали увагу на бажання відкрити для себе мистецтво як спосіб не лише сховатись від буденних проблем, а й за
    допомогою творчості досягнути гармонійного стану.</p>
  <p>Тому, Ласкаво Просимо до «Tarasivna Art».
</div>
