<div class="header">Інформація</div>
<div class="container">
  <p>
    Всім привіт! Я Іра – художник, засновник студії «Tarasivna Art». І я знаю, що написати картину може кожен, адже ми
    всі народжені митцями.
  </p>
  <p>
    У своїй студії я вчу виходити за рамки та відкривати для себе світ творчості та свободи, роблю мистецтво
    доступним, не забуваючи про художні якості та рівень навичок і знань, які отримають учні на майстер-класах.
  </p>
  <p>
    Моя мрія – це створення такого творчого простору, в якому можна було вільно взаємодіяти і художнику-викладачу, і
    учню, де б не звертали увагу на рівень вмінь, вік та статус. Де б в першу чергу звертали увагу на бажання відкрити
    для себе мистецтво як спосіб не лише сховатись від буденних проблем, а й за допомогою творчості досягнути
    гармонійного стану.</p>
  <p>
    Формат майстер-класів передбачає за декілька годин познайомитись з конкретним художнім стилем живопису чи певного
    виду творчості та написати картини.
    Відвідуючи майстер-класи, студійці опановують основні художні навички, мають можливість поглиблювати свої знання та
    розширювати художні вміння.
  </p>
  <p>
    Унікальність студій «Tarasivna Art»:
    Не має обмеження у віці – є заняття, які підходять для дітей від 4 років, а верхньої межі взагалі не існує;
    великий вибір видів та форматів занять – де кожен може знайти щось цікаве для себе;
    для вашої зручності студія працює 7 днів на тиждень;
    студія пропонує свої локації для проведення яскравих корпоративних свят, днів народжень та романтичних
    майстер-класів!
  </p>
  <p>
    В «Tarasivna Art» доводять, що малювати чи творити може кожен. Я обожнюю передавати свої знання, навчати клієнтів
    відключати шум зовнішнього світу та вмикати внутрішні ресурси!
  </p>
  <p>
    Чекаю усіх в гостях у «Tarasivna Art»!
  </p>
</div>
