  <div class="header">Контакти</div>

  <div class="container">
    <div><span>Телефон:</span> +38(093)586-73-00</div>
    <div><span>Пошта:</span> Tarassivna@gmail.com</div>

  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2545.184661718196!2d30.92508911572833!3d50.363111079463465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDIxJzQ3LjIiTiAzMMKwNTUnMzguMiJF!5e0!3m2!1sru!2sua!4v1569321641996!5m2!1sru!2sua"
      width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
